---
let { props } = Astro
---

<a href=`/podcast/${props.id}` class="flex flex-col gap-4 pb-4 w-full">
    <figure class="flex justify-center">
        <img 
            src={props.imgUrl}
            alt={props.title}
            height={174}
            width={174}
            class="rounded-xl"
        />
    </figure>
    <div class="flex flex-col items-center">
        <h1 class="font-semibold">
            {props.title}
        </h1>
        <h2 class="text-xs text-stone-300 capitalize">
            {props.description}
        </h2>
    </div>
</a>
